<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    </head>
    <body>
        <div>
            <h1>The current time and date:</h1>
            <form action="/result" method="post">
                {% csrf_token %}
                <p>Your name: <input name="f_name" type="text"></p>
                <p>Dojo Location <input name="f_location" type="text"></p>
                <p>Favorite language<input name="f_language" type="text"></p>
                <p>comment(optional)<input name="f_comment" type="text"></p>
                <p>Please select your gender:</p>
                <input type="radio" id ="male" name="gender" value="Male" checked>
                <label for="html">Male</label><br>
                <input type="radio" id = "female" name="gender" value="Female">   
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="Other">
                <label for="other">Other</label>
                <br>
                <input type="checkbox" id="email" name="email" value="True"> 
                <label for="email"> Would you like to receive periodic emails?</label><br>
                <br>
                <button type="submit">Button</button>
            </form>        
        </div>
    </body>


